body{
    background-color: gray;
}

.container-cabecalho{
    background-color: #000;
    width: 100%;
    height: 100px;
}

.imagem-cabecalho{
    width: 320px;
    margin: 37px 50px;
}

main{
    margin-left: 17px;
}

.container{
    display: flex;
}

.container-principal{
    background-color: #fff;
    width: 500px;
    height: 650px;
    margin: 20px 20px;
    border-radius: 20px;
    flex-direction: column;
    position: sticky;
    top: 25px;
}

.container-foto{
    width: 200px;
    height: 300px;
    margin-top: 30px;
    margin: 30px auto;
    border-radius: 20px;
    border: 3px solid;
    background-image: url(/img/imagem-marcelo-trancozo.jpg);
    background-size: cover;
    background-position: right;

}

.minhas-redes{
    text-align: center;
    font-size: 25px;
}

.icons-redes{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.imagens-redes{
    margin-left: 15px;
    width: 35px;
    height: 35px;
    border-radius: 20%;
}

.imagens-redes:hover{
    transform: translateY(-5px);
    transition: ease-in-out 0.2s;
}

.minhas-habilidades{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.titulos-minhas-habilidades{
    text-align: center;
    font-size: 25px;
    margin-top: 80px;
}

.icones-habilidades{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.imagens-habilidades{
    margin-left: 15px;
    width: 35px;
    height: 35px;
    border-radius: 20%;
}

.imagens-habilidades:hover{
    transform: translateY(-5px);
    transition: ease-in-out 0.2s;
}

/*--------------------------------------------------------------------------------------*/

.container-secundario{
    background-color: #fff;
    width: 800px;
    height: 1000px;
    margin: 20px 20px;
    border-radius: 20px;
    padding: 25px;
}

.titulo-secundario{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.paragrafos-secundarios p{
    margin-top: 50px;
}

